<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #login {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <nav>
    <p id="login"><a href="/login">Log In</a></p>
  </nav>


  <form>
    <h2>Register</h2>
    <div class="error" style="color: red;"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <button>Register</button>
  </form>

  <script>
    const form = document.querySelector('form');
    const error = document.querySelector('.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // get values
      const email = form.email.value;
      const password = form.password.value;

      try {
        const res = await fetch('/register', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        if (data.error) {
          error.textContent = data.error;
        } else {
          location.assign('/home');
        }
      }
      catch (err) {
        console.log(err);
      }
    });

  </script>
</body>

</html>
